<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
    {% block calendar_js %}         
    <script src="{% static 'js/calendar.js' %}"></script>
    {% endblock %} 
    <link rel="stylesheet" href="{% static 'css/css_main.css' %}"> 
    <title>{% block title %}Document{% endblock %}</title>
    <style>
        .fc-content {
            color:azure;
        }
    </style>
</head>
<body>
    <div class="row px-0" style="margin: auto;" id="navigation">       
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top" id="nav-bar">              
            <div class="collapse navbar-collapse justify-content-between" id="nav_menu">
                <div class="navbar-brand align-center">           
                    
                    <span id="title"><a class="nav-link text-light" aria-current="page" href="{% url 'schedule' %}">Vet Schedule</a></span>  
                </div>       
                <ul class="navbar-nav" id="nav_links">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'schedule' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'schedule_users' %}">Schedule</a>
                    </li>
                    <li class="nav-item dropdown bg-dark">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-light" href="{% url 'manage_vets' %}">Manage Vets</a></li>
                            <li><a class="dropdown-item text-light" href="{% url 'manage_shifts' %}">Manage Shifts</a></li>
                            <li><a class="dropdown-item text-light" href="{% url 'admin_tools' %}">Admin Tools</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'user_info' %}">Profile</a>
                    </li>
                    <li class="nav-item">                        
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row py-5"></div>
        {% block main %}
        {% endblock %}
</body>
</html>