{% extends "admin_nav.html" %}
{% block title %}Schedule Shifts{% endblock %}
{% block main %}
<div class="container">
    <div class="row mx-2">
        
        <div class="container col-sm-3 px-2">        
                
    </div>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-7">            
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>     
                        <th scope="col">Update</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for shift in shifts %}
                    <form action="{% url 'update_shifts' shift.id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <td hidden>{{ shift.id }}</td>
                            <td>{{ shift.shift }}</td>
                            <td><input type="time" name="start_time" id="start_time" class="form-control mb-1" value={{ shift.start_time|time:"H:i" }} style="height:20px; font-size:small; width: 120px;"></td>
                            <td><input type="time" name="end_time" id="end_time" class="form-control mb-1" value={{ shift.end_time|time:"H:i" }} style="height:20px; font-size:small; width: 120px;"></td>
                            <td>
                                <input type="submit" value="Update" class="btn btn-outline-primary p-0" id="submit" style="height:20px; width: 55px; font-size:smaller;">
                                <a href="{% url 'remove_shift' shift.id %}" class="btn btn-outline-danger p-0" style="height:20px; width: 55px; font-size:smaller;">Remove</a>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Add Shift</h3>       
            <form action="{% url 'update_shifts' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ shift_form }}
                    <input type="submit" value="Save" class="px-2 my-2" id="submit">
                </div>
            </form>          
        </div>
        <div class="col-md-5">            
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">Shift Type</th>
                        <th scope="col">Color</th>
                        <th scope="col">Update</th>     
                    </tr>
                </thead>
                <tbody>
                    {% for type in types %}
                    <form action="{% url 'update_types' type.id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <td hidden>{{ type.id }}</td>
                            <td><input type="text" name="name" id="name" class="form-control mb-1" value="{{ type.name }}" style="height:20px; font-size:small; width: 100px;"></td>
                            <td><input type="color" name="color" id="color" class="form-control mb-1 p-0" value="{{ type.color }}" style="height:20px; font-size:small; width: 100px;"></td>
                            <td>
                                <input type="submit" value="Update" class="btn btn-outline-primary p-0" id="submit" style="height:20px; width: 55px; font-size:smaller;">
                                <a href="{% url 'remove_shift_type' type.id %}" class="btn btn-outline-danger p-0" style="height:20px; width: 55px; font-size:smaller;">Remove</a>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Add Shift Type</h3>
            <form action="{% url 'update_types' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ type_form }}
                    <input type="submit" value="Save" class="px-2 my-2" id="submit">
                </div>
            </form>    
        </div>
    </div>
</div>
<script>
    $('#id_color').get(0).type = 'color';
</script>
{% endblock %}