{% extends "admin_nav.html" %}
{% load static %}

{% block title %}Schedule Shifts{% endblock %}

{% block calendar_js %}
<script src="{% static 'js/schedule_calendar.js' %}"></script>
<script>
    function update() {
        console.log($('#calendar').fullCalendar('clientEvents', 80085));
        $.ajax({                                        
            url: "" + date + "",
            success: function (response){            
                // console.log(response.schedule);
                // add_events(response.schedule)
                data = response
                return response            
                
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response.responseJSON.errors)
            }
        });    
        return data;        
    }
    
</script>

{% endblock %}

{% block main %}

<div class="row justify-content-between mx-2">
    <div class="col-sm-4 px-2">            
        <h3>Employee Shift Totals</h3>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    {% if admin is True %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>                
                {% for id, user in user_shifts.items %}
                    <tr>                        
                        <td><a href="{% url 'user_info' id %}">
                            {% for name, count in user.items %}
                            {{ name }} </a>                           
                        </td>
                    {% for m, y in count.items %}
                        <td>{{ m }}</td>
                        <td>{{ y }}</td>
                    {% endfor %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Add Shifts</h3>
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.user.label }}
                {{ form.user.errors }}
                {{ form.user }}

                {{ form.shift.label }}
                {{ form.shift.errors }}
                {{ form.shift }}

                {{ form.shift_type.label }}
                {{ form.shift_type.errors }}
                {{ form.shift_type }}

                <label for="multi-date">Dates:</label>
                <input type="text" name="multi-date" required id="multi-date" class="form-control datepicker" value="Select multiple dates...">
                <input type="submit" value="Schedule" class="btn btn-primary px-2 my-2" id="submit">
                <h4>Clear user from selected dates:</h4>
                <input type="submit" value="Clear User" class="btn btn-danger px-2 my-2" id="submit" formaction="delete_multiple">
            </div>
        </form>    
        
    </div>
    <div class="col-sm-8">
        <div class="col-sm-11 justify-content-between m-3 form-inline">
            <input type="text" class="form-control" name="date-select" id="date-select" />
        </div>
        <div class="col-sm-12">
            <div class="ui container">
                <div class="ui grid">
                    <div class="ui sixteen column">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='datepicker'></div>
<div class="modal hide fade in" tabindex="-1" role="dialog" id="myModal" labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Create new event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="{{ action }}" method="post" id="modal_form">
                {% csrf_token %}
                <div class="modal-body">                
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 id="modal_date"></h4>
                            <input type="hidden" name="id" id="id" value="">
                            <input type="hidden" name="date" id="date" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form.user.label }}
                            {{ form.user.errors }}
                            {{ form.user }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-4" for="starts-at">Starts at</label>
                            <input type="text" class="form-control col-sm-8 mx-2" name="starts_at" id="starts-at" /> -->
                            {{ form.shift.label }}
                            {{ form.shift.errors }}
                            {{ form.shift }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-4" for="ends-at">Ends at</label>
                            <input type="text" class="form-control col-sm-8 mx-2" name="ends_at" id="ends-at" /> -->
                            {{ form.shift_type.label }}
                            {{ form.shift_type.errors }}
                            {{ form.shift_type }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <div class="col-sm-2"><button type="submit" class="btn btn-primary" id="save-event">Update</button></div>                        
                    <div class="col-sm-2"><button type="submit" class="btn btn-danger" id="delete" formaction="/delete_sched_shift">Delete</button></div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    
</script>
{% endblock %}