*{
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 10px auto;
    width:  970px; 
    
}

.fc_content {
    color:azure;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #343A40; 
    overflow-x: hidden; 
    padding-top: 65px; 
    transition: 0.5s;
}

.code_block {
    max-height: 1000px;
    transition: .5s;   
    display: none; 
}

.info_button {
    background-color: #ff991a;
    color: #F8F9FA;
}

.sidenav a {
    color: #F8F9FA;
}

.sBtn {
    width: 100px;
    text-decoration: none;
    color: black;
}

.sBtn a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.errmsg {
    font-size: 12px;
    color: red;
}

.errorlist {
    font-size: 12px;
    color: red;
    list-style-type: none;
}


/* label {
    display: block;
} */